body {
  background-image: url('../assets/background.png');
}

#Intro {
  max-width: 700px;
  text-align: center;
  padding-top: 100px;

  h1 {
    font-size: 60px;
    padding-bottom: 30px;
  }
  h1, h2, h3 {
    color: white;
  }

  h2, h3 {
    display: none;
  }

  input.form-control {
    font-size: 28px;
    padding: 30px;
    margin-bottom: 15px;
    border-radius: 3px;
  }

  button.btn {
    font-size: 22px;
    border-radius: 6px;
  }
}

#Intro.passive {
  width: 400px;
  float: left;
  text-align: left;
  padding-top: 60px;

  h2, h3 {
    display: block;
  }
  input {
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  input.attendee {
    display: none;
  }
  .form-group {
    margin: 0;
    div {
      padding: 0;
    }
  }

  h3 {
    margin-top: 100px;
  }
}

#Results.passive {
  display: none;
}
#Results.active {
  background-color: white;
}
