body {
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(48,52,66);
}

#Intro {
  max-width: 700px;
  text-align: center;
  padding-top: 100px;

  h1 {
    font-size: 60px;
    padding-bottom: 30px;
  }
  h1, h2, h3 {
    color: white;
  }

  h2, h3 {
    display: none;
  }

  input.form-control {
    font-size: 28px;
    padding: 30px;
    margin-bottom: 15px;
    border-radius: 3px;
  }

  button.btn {
    font-size: 22px;
    border-radius: 6px;
  }
}
#Intro.active {
  #SpecificTime {
    display: none;
  }
}

#Intro.passive {
  width: 350px;
  float: left;
  text-align: left;
  padding-top: 60px;

  h2, h3 {
    display: block;
  }
  div.form-horizontal input {
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  input.attendee {
    display: none;
  }
  .form-group {
    margin: 0;
    div {
      padding: 0;
    }
  }

  h3 {
    margin-top: 100px;
  }

  #SpecificTime {
    width: 300px;
    margin: auto;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 75px;
  }
}

#Results.passive {
  display: none;
}
#Results.active {
  height: 100%;
  background-color: white;
  float: right;
  color: rgb(48,52,66);

  .result {
    position: relative;
    border-bottom: 2px solid #ccc;

    .icon {
      width: 40px;
      padding: 5px;
    }
    .capacity {
      margin-left: -5px;
    }
  }

  .roomPhoto {
    padding: 22px;
    width: 300px;
    height: 160px;
    float: left;
  }
  .roomInfo {
    float: left;
    font-size: 15px;
    font-family: 'Proxima Nova Soft';

    .attendeeCount {
      display: block;
      margin-top: 10px;
    }

    .time {
      margin-right: 20px;
      cursor: pointer;
    }
    .time.selected {
      color: #51a3db;
    }
    button {
      position: absolute;
      right: 20px;
      top: 70px;
      padding: 6px 40px;
      font-size: 16px;
      font-family: 'Proxima Nova Light'
    }
  }
}
